.card{
    /* background-image: url('../../assets/images/black_white_design.jpg');
    background-size: 100% 100%;
    min-height: 200px; */
    background-color: #04AA6D;
    color: black;
    padding: 25px;
    margin: 25px;
    border: 1px solid black;
    border-radius:  25px;
    box-shadow: 2px 2px 8px white;
}